{% extends 'base.html' %}

{%block title%} Add Task - Brain Two {%endblock title%}


{%block content%}
    <header>
        <nav>
            <a href="{% url 'show_details' list.id %}">Back</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>Add a task </h1>
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button>Create</button>
                </form>
        </div>
    </main>


{%endblock content%}