{% extends 'base.html' %}

{%block title%} Create - Brain Two {%endblock title%}


{%block content%}
    <header>
        <nav>
            <a href="{%url 'show_lists'%}">Back</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create a new list</h1>
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button>Create</button>
                </form>
        </div>
    </main>


{%endblock content%}