{% extends 'base.html' %}

{%block title%} Delete: {{list.name}} - Brain Two {%endblock title%}


{%block content%}
    <header>
        <nav>
            <a href="{% url 'show_details' list.id%}">Back</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>Delete "{{list.name}}"?</h1>
                <form method="post">
                    {% csrf_token %}
                    <button>delete</button>
                </form>
        </div>
    </main>


{%endblock content%}