{% extends 'base.html' %}

{%block title%} {{list.name}} - Brain Two {%endblock title%}

{% block content%}
    <header>
        <nav>
            <a href="{%url 'edit_list' details.id %}">Edit</a>
            <a href="{% url 'show_lists' %}">Back</a>
            <a href="{% url 'delete_list' details.id %}">Delete</a>
            <a href="{% url 'add_item' details.id %}">Add Task</a>
        </nav>
    </header>
    <main>
        <h1>{{list.name}}</h1>
        <h2>Tasks</h2>
        <div class="table-container">
        <table>
            <thead class="table-head">
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {% for task in details.items.all %}
                <tr>
                    <td><a href="{%url 'edit_task' details.id %}">{{ task.task }}</a></td>
                    <td>{{task.due_date}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        </div>
    </main>
{%endblock content%}

