{% extends 'base.html' %}

{%block title%} Edit Task - Brain Two {%endblock title%}


{%block content%}
    <header>
        <nav>
            <a href="{% url 'show_details' task.id%}">Back</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>Edit Task</h1>
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button>Save</button>
                </form>
        </div>
    </main>


{%endblock content%}