{% extends 'base.html' %}

{% block title %} Todo Lists {% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'create_list' %}">Create List</a>
        </nav>
    </header>
    <main>
        <h1>My Lists</h1>
        <div class="table-container">
        <table>
            <thead class="table-head">
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody class="table-body">
                {% for list in todo_lists %}
                <tr>
                    <td><a href ="{% url 'show_details' list.id %}">{{list.name}}</a></td>
                    <td>this list has {{list.items.all|length}} tasks</td>
                </tr>
                {%endfor%}
                <tr>

                </tr>
            </tbody>
        </table>
        </div>
    </main>
{% endblock content %}